{% extends "base.html" %}

{% block title %}
Contact
{% endblock %}

{% block content %}

<h1>Contact</h1>
<p>You can reach me at:</p>
<p>Eldoret, Kenya</p>
<ul>
    <li><a href="mailto:kipkoechkev6@gmail.com">kipkoechkev6@gmail.com</a></li>
    <li><a href="https://www.linkedin.com/in/kevin-kipkoech-a10b11228" target="_blank">LinkedIn: www.linkedin.com/in/kevin-kipkoech-a10b11228</a></li>
    <li><a href="https://github.com/kevin10x" target="_blank">GitHub: github.com/kevin10x</a></li>
    <li><a href="mailto:hauzraladamae@gmail.com">hauzraladamae@gmail.com</a></li>
</ul>
<form>

<input
type="text"
placeholder="Name">

<input
type="email"
placeholder="Email">

<textarea
placeholder="Message">
</textarea>

<button>
Send
</button>

</form>
{% endblock %}
